html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background:#232D36;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#366484), to(#B77046));
	background-image: -webkit-linear-gradient(top, #366484, #B77046);
	background-image: -moz-linear-gradient(top, #366484, #B77046);
	background-image: -ms-linear-gradient(top, #366484, #B77046);
	background-image: -o-linear-gradient(top, #366484, #B77046);
}

#star-canvas {
	height: 100%;
}