html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background:#232D36;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#232D36), to(#354C4F));
	background-image: -webkit-linear-gradient(top, #232D36, #354C4F);
	background-image: -moz-linear-gradient(top, #232D36, #354C4F);
	background-image: -ms-linear-gradient(top, #232D36, #354C4F);
	background-image: -o-linear-gradient(top, #232D36, #354C4F);
}

#star-canvas {
	height: 100%;
}