@import "./colours.less";
@import "./sizes.less";

@cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
@form-curve: cubic-bezier(0.64, 0.09, 0.08, 1);

@font-face {
    font-family: Jaywalker;
    src: url("../../src/fonts/Jaywalker-Regular.otf") format("opentype");
}

html, body {
    margin: 0;
    user-select: none;
    font-family: 'Jaywalker', 'monospace', sans-serif;
    background: @background;
}

h1 {
    font-size: 10em;
    color: @text-primary;
}

p {
    font-size: 2em;
    color: @text-secondary;
}

a {
    color: @text-link;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

    &> div {
        flex: 1;
    }

    @media all and (max-width: 1100px) {
        flex-direction: column;
    }
}

#main-info {
    text-align: center;
}

#main-image {
    img {
        width: 100%;
        height: auto;
    }
}
