@import "./colours.less";
@import "./sizes.less";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: @text-normal;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background: @background;
}

h1 {
    font-size: 3em;
    color: @text-accent;
}

p {
    font-size: 1em;
    padding: 0;

    .feature {
        color: @text-accent;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

hr {
    width: 20%;
}

a {
    color: @text-accent;
    font-size: 1.2em;
    text-decoration: none;
    pointer-events: all;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about {
    position: absolute;
    z-index: 1;
    padding: @size-medium;
    text-align: center;
    background: @text-background;
    pointer-events: none;
}
